@model Player
@{
    ViewData["Title"] = "Изменение игрока";
}

<h1>Изменение игрока</h1>
<center_flag>
    <form method="post" asp-controller="ChangePlayer" asp-action="UpdatePlayer">

        <input type="hidden" asp-for="Id" />

        <label asp-for="Name" class="required"></label>
        <input asp-for="Name" />
        @* <input asp-for="Name" required/> возможно так лучше и проще*@

        <span asp-validation-for="Name"></span>

        <label asp-for="Surname" class="required"></label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>

        <label asp-for="TeamName" class="required"></label>
        <input asp-for="TeamName" list="teamOptions" id="comboInput"
            placeholder="Выберите из списка или введите своё значение...">
        <span asp-validation-for="TeamName"></span>
        <datalist id="teamOptions">
            @foreach (var teamName in ViewBag.TeamNames)
            {
                <option value="@teamName"></option>
            }
        </datalist>

        <label asp-for="GenderString" class="required"></label>
        <select asp-for="GenderString">
            <option value="Man">Man</option>
            <option value="Woman">Woman</option>
        </select>
        <span asp-validation-for="GenderString"></span>

        <label asp-for="DateOfBirth" class="required"></label>
        <input asp-for="DateOfBirth" type="date" />
        <span asp-validation-for="DateOfBirth"></span>

        <label asp-for="CountryString" class="required"></label>
        <select asp-for="CountryString">
            <option value="Russia">Russia</option>
            <option value="USA">USA</option>
            <option value="Italy">Italy</option>
        </select>
        <span asp-validation-for="CountryString"></span>

        <input type="submit" value="изменить" />

    </form>
</center_flag>