@{
    ViewData["Title"] = "Главная страница";
}

<h1>Главная страница</h1>

<h1>Это веб приложение для создания и просмотра "Каталога футболистов"</h1>

<h1>Для удобства только что измененные или только что созданные играки отобрадаются в начале списка"</h1>