@{
    ViewData["Title"] = "Главная страница";
}


<h1>Главная страница</h1>

<h2>Это веб-приложение для создания и просмотра "Каталога футболистов"</h2>

<h2>Для удобства только что измененные или только что созданные игроки отображаются в начале списка.</h2>